<div class="restaurante-container">
    <form [formGroup]="editResForm" (ngSubmit)="editPerfil(editResForm.value)" class="container" >
        <!-- De esta manera uso el input -->
        <!-- {{perfil | json}} -->
        <mat-form-field class="example-full-width">
            <div style="text-align: center;"> 
                <h4>Restaurante</h4>
                <input matInput placeholder="" formControlName="nombreRestaurante">
            </div>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select placeholder="Tags" formControlName="resVerificado">
                <mat-option value="En revision">En Revisión</mat-option>
                <mat-option value="Aprobado">Aprobado</mat-option>
                <!-- <mat-option value="Rechazado">Rechazado</mat-option> -->
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="basic" type="submit" [mat-dialog-close]="true">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>
        <mat-divider></mat-divider>
        <br>
    
        <button mat-raised-button color="warn" type="button" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
     
    </form>
</div>