<!-- <router-outlet></router-outlet> -->

    <mat-table [dataSource]= "dataSource" matSort>
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell> 
            <mat-cell *matCellDef="let row">
                <div *ngIf="row.estado === 'Activo'">
                    <mat-icon color="primary">offline_pin</mat-icon>
                </div>
                <div *ngIf="row.estado === 'Deshabilitado'">
                    <mat-icon color="warn">unpublished</mat-icon>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="platoEsp">
            <mat-header-cell style="margin:0px 30px 0px 30px;" *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell> 
            <mat-cell style="margin:0px 30px 0px 30px;" *matCellDef="let row"> {{row.platoEspecial}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell> 
            <mat-cell *matCellDef="let row"> {{row.precioEspecial}}&nbsp; $ </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell> 
            <mat-cell *matCellDef="let row">
                 <div *ngIf="usuarioLog == row.userUID">   <!--Valido si el usuario logueado es el que edito el plato-->
                      <button mat-icon-button color="primary" (click)="editarMerienda(row)">
                          <mat-icon arial-label="Actualizar">edit</mat-icon>
                      </button>
                  </div>
                <div *ngIf="usuarioLog == row.userUID">
                  <button mat-icon-button color="accent" (click)="eliminar(row)">
                      <mat-icon arial-label="Eliminar">highlight_off</mat-icon>
                  </button> 
                </div>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>   
