<h3 style="text-align: center; margin: 0px 50px 0px 50px;">
Actualizar información
</h3><br>
<app-edit-restaurante-dueno [perfil] = "datosR.contenido"></app-edit-restaurante-dueno>



<!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Información">
    </mat-tab>
    <mat-tab label="Ubicación">
        <a routerLink="dueño/mapa" [mat-dialog-close]="true"><img src="../../../assets/img/mapa.png" alt="" width="330px" height="300px"></a>
        <br>
        <div style="text-align: center;">
            <button [mat-dialog-close]="true" mat-raised-button routerLink="dueño/mapa">Agregar Ubicación</button><br>
        </div>
    </mat-tab>
  </mat-tab-group> -->



