
<div class="logo">
    <a href="/" class="simple-text">
        <img src="./../../../assets/img/logoMH.png" width="150px" height="150x" alt="">
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>Cerrar Sesión
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  data-toggle="modal" data-target="#exampleModal" (click)="loginService.cerrarSesion()">Cerrar sesión</a>                           
           </div>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <div *ngFor="let menuItem of menuItems" >
        <li *ngIf="menuItem.rol === rol" routerLinkActive="active" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" >
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </div>
    </ul>
    

    <!-- <div *ngIf="loginService.userData | async">
        <mat-sidenav-container class="all-wrap" fullscream [hasBackdrop]="false">
            <mat-sidenav [mode]="'push'" style="width: 300px;" opened>
                <div *ngFor="let m of menus">
                    <button mat-menu-item routerLink="{{m.url}}" style="cursor: pointer">
                        <mat-icon>{{m.icono}}</mat-icon>
                        <span>{{m.nombre}}</span>
                    </button>
                </div>
            </mat-sidenav>
    
            <mat-sidenav-content>
    
            <div class="page-wrap">
                <mat-menu #menu="matMenu"></mat-menu>
    
                <main class="conteqnt" style="margin: 40px; margin-bottom: 50%;">
                    <div class="div-scrollable">
                        <router-outlet></router-outlet>
                    </div>
                </main>
            </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div> -->
</div>


