<mat-form-field>
    <input
      matInput
      (keyup)="applicarFiltro($event.target.value)"
      placeholder="Buscar"
    />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Número del usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
    </ng-container>
  
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef>Rol del usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.rol}}</td>
    </ng-container>
                                
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="info" *ngIf="element.estado === 'falso'" (click)="habilitarUsuario(element)">
          <span>Habilitar <mat-icon>person_add_disabled</mat-icon></span>
        </button>&nbsp;
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
