#map {
    position: static;
    bottom: 600px;
    left: 240px;
    height: 60%;
    width: 60%;
  }

  .btn{
    background-color: #3c4752;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 20%;
    /* margin-left: 30%; */
  }