.container{
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;

}

p{
    color: #c73521;
    font-size: 11px;
    margin: 0%;
    padding: 0%;
}

button{
    margin: 5px;
}

.ingre{
    border: 1px solid grey;
 }
 
 .add{
     font-size: 12px;
     background-color: white;
     color: black;
 }
