element.style {
    transform: none;
    padding-top: 24px;
    width: 300px;
    height: 300px;
}

mat-dialog-content{
    width: 450px;
    height: 550px;
}
mat-dialog-container {

    border-radius: 40px;
}