table {
    width: 10%;
  }

  .example-card {
    max-width: 400px;
    display: inline-block;  
    border-radius: 21px;
    margin: 10px;
  }

  body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
    
  }
.actualizar{
  background-color: #3c4752;
}