.example-card {
    max-width: 300px;
    display: inline-block;
    border-radius: 21px;
    margin: 10px;
    /* grid-template-columns: repeat(4,24%); */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 15px;
    justify-content: center; */
    
  }

  .card-img2{
    width: 45%;
    margin-left: 25%;
    border-radius: calc(0.25rem - 1px);
  }

  .btn{
    background-color: #3c4752;
    text-transform: capitalize;
    width: 15%;
    font-size: 85%;
  }

  .mat-card-image {
    width: calc(71% + 40px);
    margin: 0 -16px 16px -16px;
}
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 1rem;
    width: 98%;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
  }
  
  .container-btn-new {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem -0.6rem;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}