<div style="background-color: white;">
    <header class="top-header">
       <nav>
           <div class="container-fluid">
               <a class="navbar-brand">
                   <img src="../../assets/logo.svg" width="150px" height="150px" alt="image" style="padding-left: 24; padding-bottom: 60px;">
                </a>
                <a class="login"  href="https://muertosdehambre.web.app/#/" target="_blank">Login</a>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
               </button>
               <!-- <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                   <ul class="navbar-nav">
                       <a style="padding-bottom: 60px;" class="titulo1"  href="https://muertosdehambre.web.app/#/" target="_blank">Login</a>
                   </ul>

               </div> -->
           </div>
       </nav>
   </header>

   <main class="content" >
        <div class="div-scrollable">
            <div class="section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full center">
                                <div class="heading_main text_align_center">
                                    <h2 class="titulo2" style="font-size: 40px;"><span class="theme_color">MUERTOS DE</span> HAMBRE</h2>
                                    <p class="large"></p>
                                    <br>
                                    <p>Muertos de Hambre es la aplicación oficial de la Escuela Politécnica Nacional,
                                      que permite a los estudiantes, maestros y todo el personal correspondiente a la EPN poder
                                      disfrutar de la variedad gastronómica del sector. Aqui encontraras los distintos restaurantes
                                      de la zona, podras disfrutar del menú diario que ofrece cada restaurante, asi como sus horarios
                                      de atención y capacidad. En nuestra app móvil podras obtener en tiempo real la dirección exacta
                                      del restaurante y
                                      podras realizar una reserva y dirigirte con tus panas a degustar lo que mas te apetezca en el día.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
        
            <div class="promociones">
                <div class="promo-text">
                    <p class="titulo1">PROMOCIONES</p>
                    <br>
                    <img src="../../assets/logo.svg" alt="logo" width="40%"><br><br>
                </div>
             </div>
        
            <!-- <div class="section layout_padding theme_bg"> -->
                <!-- Slideshow container -->
                <div class="slideshow-container" style="margin-top: 5%;">
                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        
                        <img src="../../assets/promos.jpg" style="width:100%; height: 350px;">
                        <!-- <div class="text">Caption Two</div> -->
                      </div>
        
            <!-- Full-width images with number and caption text -->
                    <div *ngFor="let p of promociones; let i index">
                        <div class="mySlides" style="text-align: center;">
                            <a (click)="openPromo(p)">
                                <img [src]="p.fotosPromocion" style="width:100%; height: 450px;">
                            </a>
                        </div>
                        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
                        <a class="next" (click)="plusSlides(1)">&#10095;</a>
                        <!-- <span class="dot" (click)="currentSlide(i)"></span> -->
                    </div>  
                </div>
        
                <!-- The dots/circles -->
                <div style="text-align:center; margin-bottom: 5%;" >
                    <span class="dot" (click)="currentSlide(1)"></span>
                    <span class="dot" (click)="currentSlide(2)"></span>
                    <span class="dot" (click)="currentSlide(3)"></span>
                    <span class="dot" (click)="currentSlide(4)"></span>
                    <span class="dot" (click)="currentSlide(5)"></span>
                    <span class="dot" (click)="currentSlide(6)"></span>
                    <span class="dot" (click)="currentSlide(7)"></span>
                    <span class="dot" (click)="currentSlide(8)"></span>
                    <span class="dot" (click)="currentSlide(9)"></span>
                    <span class="dot" (click)="currentSlide(10)"></span>
                    <span class="dot" (click)="currentSlide(11)"></span>
                    <span class="dot" (click)="currentSlide(12)"></span>
                    <span class="dot" (click)="currentSlide(13)"></span>
                </div>
            <!-- </div> -->
        
            <div class="app">
              <div class="appmovil-text">
                  <p class="titulo1">NUESTROS CLIENTES</p>
                  <br>
                  <img src="../../assets/logo.svg" alt="logo" width="40%"><br><br>
              </div>
           </div>
        
           <div class="fondores">
            <div class="container">
              <div class="row">
                <p class="large"></p>
                <div class="col-md-3 mx-auto my-5" *ngFor="let r of restaurantes" style="margin-top:10px;">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title><p class="texto">{{r.nombreRestaurante}}</p></mat-card-title>
                      <mat-card-subtitle>{{r.tipoRestaurante}}</mat-card-subtitle>
                      <hr>
                    </mat-card-header>
                    <img mat-card-image [src]="r.imagenRes" *ngIf="r.imagenRes; else sinFoto"  height="200px;" alt="Photo of a Shiba Inu">
                    <mat-card-content style="margin: 5% 2% 5% 2%; text-align: justify;">
                      <p style="text-align: center;">
                        Horario de atención <br>
                        {{r.horaApertura}} a.m - {{r.horaCierre}} p.m
                        <br>
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
           </div>
        
           <ng-template #sinFoto>
            <img class="imagenSinFoto" src = "../../assets/logoPrueba.png">
           </ng-template> 
           
    <app-informacion></app-informacion>
           
        </div>
    </main>


</div>

<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="crp" style="text-align: center;">© 2020 MuertosDeHambre.com  Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>

<a href="https://muertosdehambre.web.app/#/home" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>


    