<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Perfil</h4>
                  </div>

                  <div class="card-body">
                      <div class="card mb-3">
                        <div *ngIf="user$ | async as usuarios">
                          <div *ngFor="let u of usuarios" >
                            <div  *ngIf="usuarioLogueado === u.uid">
                          <div class="row no-gutters">

                            <div  class="col-md-1"></div>
                            <div class="col-md-4">
                              <div class="card-header card-header-danger">
                                <h4 class="card-title" style="text-align: center;">Actualiza tu información</h4>
                            </div>
                            <mat-form-field class="example-full-width">
                                <label for="Nombre">Nombre</label>
                                <input [disabled]="true" matInput type="text" [(ngModel)]="u.nombre">
                                <!-- <h4>{{u.nombre}}</h4> -->
                            </mat-form-field>

                            <mat-form-field class="example-full-width" *ngIf="u.apellido">
                              <label for="Nombre">Apellido</label>
                              <input [disabled]="true" matInput type="text" [(ngModel)]="u.apellido">
                              <!-- <h4>{{u.nombre}}</h4> -->
                          </mat-form-field>
                      
                            <mat-form-field class="example-full-width">
                              <b><label for="Nombre">Correo</label></b>
                              <input [disabled]="true" matInput type="text" [(ngModel)]="u.email">
                              <!-- <h4>{{u.nombre}}</h4> -->
                          </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <label for="Nombre">Celular</label>
                            <input [disabled]="true" matInput type="text" [(ngModel)]="u.numero">
                            <!-- <h4>{{u.nombre}}</h4> -->
                        </mat-form-field>

                        
                           <app-editar-perfil-user></app-editar-perfil-user>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-6">
                              <div class="card-body">
                                      <div class="col-md-6">
                                        <div class="card card-profile" style="width: 400px;">
                                          <div class="card-avatar">
                                            <a>
                                              <img class="img" [src]="u.foto" *ngIf="u.foto; else sinfotoPerfil" alt="">
                                              <!-- <img class="img" [src]="'https://i.pinimg.com/originals/5f/87/61/5f8761590f4c651c8383dd58fce5dbf0.png'" /> -->
                                            </a>
                                          </div>
                                          <div class="card-body">
                                            <ng-template [ngIf]="u.roles === 'admin'">
                                              <h6 class="card-category text-gray">Administrador del sistema</h6>
                                            </ng-template>
                                            <ng-template [ngIf]="u.roles === 'dueño'">
                                              <h6 class="card-category text-gray">Dueño del Restaurante</h6>
                                            </ng-template>
                                            <h4 class="card-title">{{u.nombre}} {{u.apellido}}</h4>
                                            <p class="card-description">
                                              {{u.email}}
                                            </p><hr>
      
                                            <div class="row">
                                            <div class="col-md-4" *ngIf="u.socialF">
                                              <button  mat-raised-button>
                                                <a href="https://www.facebook.com{{u.socialF}}" target="_blank" rel="noopener noreferrer">Facebook</a>
                                              </button>
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-4" *ngIf="u.socialG">
                                              <button  mat-raised-button>
                                                <a href="https://www.instagram.com{{u.socialG}}" target="_blank" rel="noopener noreferrer">Instagram</a>
                                              </button>                                    
                                            </div>
                                          </div>
                                            <!--<a href="#pablo" class="btn btn-primary btn-round">Follow</a>-->
                                          </div>
                                        </div>
                                      </div>

                              </div>
                            </div>
                          </div>

                            </div>
                          </div>
                        </div>
                      </div>
                
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #sinfotoPerfil>
  <img class="img" [src]="'https://i.pinimg.com/originals/5f/87/61/5f8761590f4c651c8383dd58fce5dbf0.png'" alt="fotoPerfil" />  
</ng-template>

<div class="restaurante-container">


   

</div>